Repository HDFGroup/hdfview, pull requests merged in 2023-08, with the labels that each got.

#149 Fix for array of ref objs
  .github/workflows/ant.yml
  build.xml
  docs/RELEASE.txt
  src/org.hdfgroup.hdfview/hdf/view/TableView/DataProviderFactory.java
  src/org.hdfgroup.object/hdf/object/CompoundDS.java
  src/org.hdfgroup.object/hdf/object/h5/H5CompoundDS.java
Labels: Type - Bug, Component - HDFView, Priority - 0. Blocker ⛔

#151 Deploy required for tests
  build.xml
  src/org.hdfgroup.hdfview/hdf/view/TableView/DataProviderFactory.java
  test/org.hdfgroup.hdfview.test/uitest/AbstractWindowTest.java
Labels: Type - Bug, Component - Build, Priority - 0. Blocker ⛔

#153 Update version to release 3.3.1
  .github/workflows/ant.yml
  VERSION
  docs/Build_HDFView.txt
  docs/RELEASE.txt
  docs/WorkingDirectory.txt
  lib/macosx/distribution.plist
  package_files/macosx/Info.plist
Labels: Component - HDFView, Type - New Feature, Priority - 0. Blocker ⛔

#154 Add README.md content and timeline
  README.md
  docs/img/release-schedule.plantuml
  docs/img/release-schedule.png
Labels: Component - Documentation, Type - Task, Priority - 1. High 🔼

#155 Add HDFView 3.3.2 to the release schedule
  README.md
  docs/img/release-schedule.plantuml
  docs/img/release-schedule.png
Labels: Component - Documentation, Type - Task, Priority - 1. High 🔼
