Repository HDFGroup/hdfview, pull requests merged in 2023-06, with the labels that each got.

#130 Fix copy of hdf5 develop lib
  build.xml
Labels: Type - Bug, Component - Build, Priority - 0. Blocker ⛔

#132 chore: create README.md
  README.md
Labels: Type - Improvement, Component - Build, Type - Task, Priority - 2. Medium ⏹

#135 Correct xml comment, change CI to manual
  .github/workflows/ant.yml
  build.xml
Labels: Type - Bug, Component - Build, Priority - 0. Blocker ⛔

#136 Update icons fix build
  .gitignore
  build.xml
  docs/RELEASE.txt
  package_files/README.txt.in
  package_files/hdf.icns
  package_files/macosx/HDFView.icns
  src/org.hdfgroup.hdfview/hdf/view/HDFView.java
  src/org.hdfgroup.hdfview/hdf/view/MetaDataView/DefaultBaseMetaDataView.java
  src/org.hdfgroup.hdfview/hdf/view/TreeView/DefaultTreeView.java
  src/org.hdfgroup.hdfview/hdf/view/icons/apps.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/audio.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/brightness.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/datasetA.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/filenew.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/foldercloseA.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/folderopenA.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf.ico
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf1024.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf128.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf16.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf256.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf32.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf32.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf4.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf4R.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf5.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf512.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf5R.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf64.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac1024.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac128.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac16.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac256.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac32.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac512.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdf_mac64.png
  src/org.hdfgroup.hdfview/hdf/view/icons/hdfnc.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdfnc3.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdfnc3R.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/hdfncR.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/imageA.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/link.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/pdf.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/question.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/text.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/textA.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/txt.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/url.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/video.gif
  src/org.hdfgroup.hdfview/hdf/view/icons/xls.gif
Labels: Type - Bug, Component - Documentation, Type - Improvement, Component - Build, Component - HDFView, Priority - 1. High 🔼
